.panel-container
{
  display: flex;
  height: calc(100vh - 120px);
}

.account-settings
{
  width: 20%;
  background: #ECF0F1;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.profile-frame
{
  border-radius: 100%;
  background: white;
  width: 150px;
  height: 150px;
  padding: 10px;
}

.profile-icon
{
  width: 80%;
  height: 80%;
}

.profile-icon path 
{
  fill: #ECF0F1;
}

.account-links
{
  width: 80%;
  background: #FFFFFF;
  padding: 10px;
  overflow-y: auto;
}

.links-table
{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.links-table td,th
{
  padding-top: 15px;
  padding-bottom: 15px;
}

.links-table tbody tr
{
  border-top: 1px solid black;
}

tr:hover
{
  background: lightgray;
}

td:nth-child(1):hover,td:nth-child(2):hover
{
  background: darkgray;
  cursor: pointer;
}

.action-copy, .action-delete, .action-password
{
  padding: 10px;
  margin: 2px;
  border: none;
  outline: none;
}

.action-copy:hover
{
  background: orange;
  color: white;
}

.action-delete:hover
{
  background: darkred;
  color: white;
}

.action-password:hover
{
  background: darkslateblue;
  color: white;
}

.btn-reset, .btn-change
{
  padding: 10px;
  outline: none;
  border: none;
}

.btn-reset:hover, .btn-change:hover
{
  color: white;
  background: violet;
}

@media only screen and (max-width: 900px) 
{
  .panel-container
  {
    flex-direction: column;
  }
  .account-settings
  {
    width: 100%;
    flex-direction: row;
  }

  .profile-frame
  {
    display: none;
  }
  .account-links
  {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) 
{
  .panel-container
  {
   height: calc(100vh - 180px);
  }
}