.home
{
  display: flex;
  justify-content: center;
  height: calc(100vh - 120px);
}

.home-container
{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 60%;
  max-width: 90%;
}

.home-input
{
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #BDC3C7;
  outline: none;
  color: #2C3E50;
  text-align: center;

  margin-top: 20px;
  height: 70px;
  width: 100%;
  font-size: 30px;
  display: block;


}

.home-input:focus
{
  border: 2px solid #2980b9;
}

.btn-shorten
{
  padding: 10px;
  background: #8E44AD;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  
  height: 45px;

  width: 90%;

  margin-top: 30px;
  font-size: 1em;
}

.btn-shorten:hover
{
  cursor: pointer;
}

.output-arrow
{
  margin-top: 30px;
  width: 60px;
}

.output-arrow path
{
  fill: #34495E;
}

.output-link
{
  text-align: center;
  margin-top: 50px;

  font-size: 1em;
}

.shortlink-frame
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;
}

.shortlink-frame .home-input
{
  margin: 0;
  width: 70%;
}

.shortlink-base
{
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.output-group
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 400px) 
{
  .home
  {
   height: calc(100vh - 180px);
  }
  .home-input
  {
    font-size: 12px;
  }
}