.auth-container
{
  background-color: #ECF0F1;
  height: 100%;
  width: 100%;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-panel
{
  background-color: #FFFFFF;
  width: 500px;
  height: 500px;
  border-radius: 0 0 10px 10px;

  position: relative;
}

.panel-options
{
  display: flex;
}

.panel-options a
{
  display: block;
  width: 50%;
  height: 60px;
  background: #9B59B6;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: white;
}

.panel-options a.selected
{
  background: #8E44AD;
}



.protected-panel
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}

.protected-info
{
  width: 100%;
  border-radius: 20px;
  margin-top: -20px;
  background: #9B59B6;
  text-align: center;
  color: white;
  font-weight: normal;
}

.icon-lock
{
  height: 100px;
}

.icon-lock path 
{
  fill: #7F8C8D;
}