.form-container
{
  display: flex;
  justify-content: center;  
}

.auth-form
{
  display: flex;
  flex-direction: column;
  width: 70%;

  padding-top: 30px;
}

.form-input
{
  margin-top: 30px;
  height: 50px;
  padding-left: 15px;
  font-size: 20px;
}

.password-forgot
{
  margin-top: 10px;
  font-size: 15px;
}

.action-buttons
{
  width: 100%;
  display: flex;
  justify-content: center;

  bottom: 50px;

  position: absolute;
}
.action-buttons > div 
{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.action-buttons button 
{
  height: 40px;
  margin-bottom: 10px;

  border: none;
  outline: none;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;
  text-decoration: none;
}

.action-buttons button svg
{
  height: 30px;
  position: absolute;
  right: 30px;
}

.link-continue, .link-back
{
  text-decoration: none;
}

.link-continue
{
  background: #2ECC71;
}

.link-back > button
{
  background: #E74C3C;
}

button:hover
{
  cursor: pointer;
}