.navbar
{
  height: 60px;
  background-color: #9B59B6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  color: white;
}

.nav-brand
{
  text-decoration: none;
  color: white;
}

.navbar-buttons
{
  margin-right: 15px;
  display: flex;
  flex-wrap: nowrap;
}

.navbar-buttons .nav-button
{
  margin: 0 5px 0 5px;
  display: block;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  padding: 10px;
  color: white;
  font-size:14px;
}

.navbar-buttons .nav-button:hover
{
  background: white;
  color: #9B59B6;
  cursor: pointer;
}

@media only screen and (max-width: 400px) 
{
  .navbar-buttons .nav-button
  {
    padding: 5px;
    white-space: nowrap;
  }
  .navbar, .navbar-buttons
  {
    padding: 5px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}