.footer
{
  height: 60px;
  background-color: #9B59B6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  color: white;
}

.github-icon
{
  display: block;
  background: none;
  border: none;
  height: 45px;
  width: 45px;
  outline: none;
}

.github-icon:hover
{
  cursor: pointer;
}

.github-icon path
{
  fill: white;
}

.link-github
{
  text-decoration: none;
  color: white;
}